@min: 0;
@max: 100;
@step: 1;


//  vw
each(range(@min, @max, @step), .(@i) {
  @vw: @i;
  .vw-@{vw} {
      width: @vw * 1vw;
  }
});

//  vh
each(range(@min, @max, @step), .(@i) {
  @vh: @i;
  .vh-@{vh} {
      height: @vh * 1vh;
  }
});
