@typeList: left, top, right, bottom;
@relativeMaxValue: 50;

// Loop through the typeList and maxLoop to create the classes
each(@typeList, .(@type){
  each(range(@relativeMaxValue),.(@i){
    // multiply by 2px to convert to px
    @j: @i * 2;
    .move-towards-@{type}-@{j} {
      position: relative;
        @{type}: @j * -1px;
    }
  });
});
