@import "../util/constant.less";

.background-google-blue, .bg-google-blue {
  background-color: @googleBlue;
}

.background-google-red, .bg-google-red {
  background-color: @googleRed;
}

.background-google-yellow, .bg-google-yellow {
  background-color: @googleYellow;
}

.background-google-green, .bg-google-green {
  background-color: @googleGreen;
}

.background-white, .bg-white {
  background-color: @background-white;
}
