@min: 50;
@max: 3000;
@step: 50;

// transition-[50,100,150,...3000]
each(range(@min, @max, @step), .(@i) {
  @transition: @i;
  .transition-@{transition} {
    transition: all @transition * 1ms;
  }
});
